@charset "UTF-8";

img {
    max-width: 100%;
    display: block;
}

div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Ao ir diminuir até chegar em 300px, fará apenas UMA coluna. */
    gap: 1rem;
}

@media (min-width: 400px) {
    .minmax img {
        grid-row:2; /* A imagem do minmax irá ficar na linha 2*/
        /* order: 2;  Vai definir onde a imagem irá ficar, quase que a mesma coisa que grid-row. */
    }
}

.galeria {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Vai criar diversas imagens conforme for aumentando, e conforme for diminuindo vai diminuindo as colunas. */
}

p {
    font-size: 2rem;
}