@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(0, 0%, 95%);
}

.container {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display:flex;
    flex-flow: column wrap;
    width: 300px;
    height: 400px;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 20px;
}

.card h1 {
    font-family: 'Big Shoulders Display', Arial, Helvetica, sans-serif;
    color: hsla(0, 0%, 95%, 1);
    text-transform: uppercase;
    font-size: 35px;
}

.card p {
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    color: hsla(0, 0%, 100%, 1);
    font-size: 12px;
}

.btn {
    padding: 10px 18px;
    font-family: 'Lexend Deca', sans-serif;
    background: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 40px;   
}

.btn:hover {
    background-color: rgba(255,255,255,0);
}

.btn1 { /* Botão do Carro foda sedan */
    color: hsla(31, 77%, 52%, 1);
}

.btn1:hover {
    border: 2px solid white;
    color: white;
}

.btn2 { /* Botão do Suvskkkkkkkkkk */
    color: hsla(184, 100%, 22%, 1);
}

.btn2:hover {
    border: 2px solid white;
    color: white;
}

.btn3 { /* BOTÃO DO CARRO MÉDIO DO SILVIO SANTOS */
    color: hsla(179, 100%, 13%, 1);
}

.btn3:hover {
    border: 2px solid white;
    color: white;
}

.card:nth-of-type(1) { /* Carro foda sedan */
    background: hsl(31, 77%, 52%);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card:nth-of-type(2) { /* Suvskkkkkkkkkk */
    background: hsla(184, 100%, 22%, 1);
}

.card:nth-of-type(3) { /* CARRO MÉDIO DO SILVIO SANTOS */
    background: hsla(179, 100%, 13%, 1);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
