@charset "UTF-8";

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    color: #141414;
    height: 100%;
    background-color: rgba(242, 240, 240, 0.165);
}

.header {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex; /* Deixando um item do lado do outro no header. */
    justify-content: space-between; /* Deixando um de cada lado. */
    align-items: center; /* Alinhando a logo LOBO junto dos links. */
}

.header-menu {
    display: flex; /* Deixando a linha de links um do lado do outro. */
    flex-wrap: wrap; /* Caso eu queria diminuir a página mais do que o tamanho normal dele, as linhas se quebrem. */
    gap: 10px; /* Dando um espaçamento entre os links. */
    justify-self: center;
}

.header-menu a {
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 30px; /* É importante colocar padding para a área de click aumentar. */
    text-decoration: none;
    color: #141414;
    display: block; /* Pegar corretamente os valores do padding. */
    border: 1px solid black;
    border-radius: 3px;
}

.introducao {
    height: 400px ;
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center; /* Alinhando no centro. */
}

.introducao h1 {
    font-size: 4.5rem;
    line-height: 80px;
    margin-bottom: 30px;
    position: relative; /* Vai se transformar no elemento pai do position absolute do h1::before */
}

.introducao h1::before {
    content: ""; /* é necessário sempre ter um content, mesmo que ele não tenha nada dentro. */
    display: block;
    width: 130px;
    height: 100px;
    background: url(../img/detalhe.svg) no-repeat center;
    position: absolute; /* Para colocar POSICIONADO no h1 da imagem é necessário usar o position relative no introducao h1. */
    top: -14px;
    left: -40px;
    z-index: -1;
}

.introducao p {
    font-size: 1.5rem;
    color: #525252;
}

.texto1 {
    background-color: rgba(242, 240, 240, 0.059);
    border-radius: 3px;
}

.experiencia {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.subtitulo {
    position: relative;
    font-size: 8rem;
    right: 10px;
    line-height: 1;
}

.experiencia-texto1 {
    position: absolute;
    font-size: 1.2rem;
    line-height: 15;
    max-width: 100ch;
}

.experiencia-texto1 strong {
    color: black;
}

.empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 4px;
    position: relative;
    gap: 10px 100px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.111), rgba(255, 255, 255, 0.111));
}

.empresa::before {
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#ffffff, #000000);
    position: absolute;
    top: 20px;
    left: -4px;
}

.empresa-ano {
    position: absolute;
    top: 20px;
    left: -80px;
    color: #525252;
    font-size: 0.875rem;
}

.empresa-titulo {
    font-size: 1.5rem;
    line-height: 1.1;
    font-weight: bold;
}

.empresa-texto {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #525252;
}

.empresa-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.empresa-habilidades li {
    font-size: .875rem;
    line-height: 1.4;
    border-radius: 4px;
    background: #ffffff;
    padding: 5px 10px;
}

.formacao-container {
    position: relative;
}

.formacao {
    max-width: 1200px;
    padding: 40px 50px;
    margin: 0 auto;
    color: black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    padding-right: 100px;
    position: absolute ;
    right: 200px;
}

.formacao .subtitulo {
    color: #000000;
}

.formacao-texto {
    position: absolute;
    font-size: 1.2rem;
    max-width: 100ch;
    color: black;
    margin-top: 15px;
}

.formacao-texto strong {
    color: black;
}

.cursos-lista {
    display: grid;
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
    margin-bottom: 60px;
}

.curso {
    width: 130px;
    text-align: center;
    margin-top: 80px;
    flex: 1;
    background: rgba(0, 0, 0, 0.111);
    padding: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 2px 5px rgba(115, 115, 115, 0.075);
}

.curso-tipo {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #2e2e2e;
    margin-bottom: 15px;
}

.curso-nome {
    font-size: 1.150rem;
    line-height: 1.4;
    margin-bottom: 20px;
    flex: 1;
    position: relative;
}

.curso-instituicao {
    font-size: 1.125rem;
    color: #181818;
}

.formacao-extra h3 {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.formacao-extra h3::before {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: -36px;
    top: -4px;
}

.cursos h3::before {
    background: url(../img/book.png) no-repeat center center;
}

.idiomas h3::before {
    background: url(../img/translate.png) no-repeat center center;
}

.idiomas h3 {
    margin-top: 50px;
}

.formacao-extra li {
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.formacao-extra span {
    color: #8f8f8f;
}

.cursos li {
    display: flex;
    justify-content: space-between;
}

.footer {
    background: #0000001b;
    position: relative;
    top: 950px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #878686;
}

.footer-contato li {
    position: relative;
    top: 70px;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.1;
    color: #ffff;
    margin-bottom: 30px;
    text-align: center;
}

.footer-contato li a {
    color: #ffffff;
}

.footer-copy {
    font-size: 1.125rem;
    color: #484747;
    grid-column: 1 / -1;
}


h1, h2, h3, p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
} 

img {
    max-width: 350px;
    display: block;
    transform: skewY(-7deg); /* Permite eu rodar minha imagem para a diagonal. */
    top: 50px;
    border-radius: 10px;
}

img.ondas {
    max-width: 500px;
    position: absolute;
    top: 798px;
    transform: skewY(0deg)
}

#sonic {
    display: none;
}

#sonic-hi {
    position: absolute;
    top: 430px;
    left: 540px;
}

footer img {
    position: absolute;
    width: 150px;
    top: 160px;
    left: 460px;
}