@charset "UTF-8";

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 2000px;
}

h1, ul, p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit; /* Sempre vai fazer a cor dos outros links herdarem o nome do "pai". */
}

img {
    max-width: 100%;
    display: block;
}

.header-bg {
    background-color: #000000;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; /* Vai fazer que o valor de padding não some um com o outro. */
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    color: #ffffff;
    display: inline-block;
    padding: 16px 0px;
    font-size: 18px;
    position: relative;
}

.header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #ffffff;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover:after { /* Quando eu passar o mouse, irá crescer uma barra branca. */
    width: 100%;
   
}

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }
    
    .header-menu a {
        background: #1111;
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu a:hover {
        background-color: #2E2E2E;
    }

    .header a:after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 12px;
    }

    .header-menu a {
        padding: 8px 12px;
        font-size: 14px;
    }
}

.introducao-bg {
    background: #000000;
    color: #ffffff;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px; /* Pra baixo e pra cima é 0px e pros lados é 40px */
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.introducao-conteudo {
    align-self: end; /* Vai colocar o conteudo la embaixo, mas usando o padding eu posso subir ele. */
    padding-bottom: 80px;
}

.introducao-imagem {

}

.introducao img {
    object-fit: cover;
}

.introducao h1 {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
}

.introducao h1 span {
    color: #ffbb00;
}

.introducao p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #B2B2B2;
}

.introducao a {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#ffbf00, #f2a50C);
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.1);
    text-transform: uppercase;
    color: #332299;
    font-size: 18px;
    line-height: 1.33;
    font-weight: bold;
}

.introducao a:hover {
    background: linear-gradient(#ffb60d, #e59317);
}