@charset "UTF-8";

:root {
    --cor-preta-transparente: rgba(0, 0, 0, 0.242);
}

#eu {
    position: relative;
    padding: 4px;
    background-color: gold;
}

#eu:hover {
    margin-bottom: 8px;
    top: -2px; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.664);
}

#eu {
    position: relative;
    padding: 4px;
    background-color:rgba(0, 0, 0, 0.483);
}

#eu:hover {
    margin-bottom: 8px;
    top: -2px; 
    border-bottom: 2px solid #999;
    padding-bottom: 2px;
}

#eu {
    position: relative;
    top: 0;
    padding: 4px;
    background-color:rgba(49, 49, 49, 0.705);
    transition: all .2s ease-in-out;
}

#eu:hover {
    margin-bottom: 8px;
    top: -2px; 
    box-shadow:0 2px 1px rgba(126, 125, 125, 0.193);
}

