@charset "UTF-8";

@media (max-width: 800px) {
    .header {
        flex-direction: column; /* Ao chegar em 800px, o menu irá quebrar e ficar em modo coluna. */
        gap: 40px;
        padding: 20px;
    }

    .header a {
        background: #f5f5f5;
        border-radius: 4px;
    }

    .texto1 {
        position: absolute;
        padding: 140px;
    }

    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .introducao h1 {
        font-size: 2.5rem;
    }

    .experiencia {
        grid-template-columns: 1fr;
    }

    .empresa {
        margin-top: 260px;
        margin-bottom: -350px;
    }

    .experiencia .subtitulo {
        font-size: 6.5rem;
    }

    .empresa-ano {
        position: initial; /* Vai deixar a data no posicionamento inicial dela. */
        order: 1; /* Deixando a ordem da data no ultimo, se outro code tivesse order, então eu deveria colocar um numero maior. */
    }

    .empresa-ano::before {
        content: "Ano: ";
    }

    .formacao-container {
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }

    .formacao {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 1850px;
        left: -50px;
    }

    .formacao .subtitulo {
        font-size: 7rem;
    }

    .formacao-texto {
        font-size: 1.125rem;
        position: relative;
        max-width: 650px;
    }

    .cursos-lista {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 30px;
    }

    .cursos {
        position: relative;
        left: 30px;
    }

    .idiomas {
        position: relative;
        left: 30px;
    }

    .footer {
        position: relative;
        top: 2300px;
        padding: 10px;
    }

    .footer-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer li {
        position: relative;
        top: 10px;
        right: 35px;
    }

    #sonic {
        display: block;
        position: absolute;
        top: 1245px;
        right: -250px;
    }

    #sonic-hi {
        display: none;
    }

    img.ondas {
        top: 850px;
    }

    #eu {
        display: none;
    }

    footer img {
        display: none;
    }
}


@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
}


@media (max-width: 400px) {
    .introducao {
        grid-template-columns: 1fr;
    }

    .introducao img {
        display: none;
    }
}