@charset "UTF-8";

@media (max-width: 800px) {
    .header {
        flex-direction: column; /* Ao chegar em 800px, o menu irá quebrar e ficar em modo coluna. */
        gap: 40px;
        padding: 20px;
    }

    .header a {
        background: #f5f5f5;
        border-radius: 4px;
    }

    .texto1 {
        position: absolute;
        padding: 140px;
    }

    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .introducao h1 {
        font-size: 2.5rem;
    }

    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
    }

    .experiencia {
        grid-template-columns: 1fr;
    }

    .empresa {
        margin-top: 260px;
    }

    .experiencia .subtitulo {
        font-size: 6.5rem;
    }

    .empresa-ano {
        position: initial;
    }

    img.ondas {
        top: 850px;
    }

    #eu {
        display: none;
    }
}


@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
}


@media (max-width: 400px) {
    .introducao {
        grid-template-columns: 1fr;
    }

    .introducao img {
        display: none;
    }
}