@charset "UTF-8";

@media (max-width: 1000px) {
    .conteudo-vantagem {
        grid-template-columns: 1fr; 
    }

    .subtitulo {
        text-align: center;
    }
}

@media (max-width: 600px) {
    body {
        gap: 30px;
        margin-top: 20px;
    }

    .header {
        gap:30px;
    }

    .introducao {
        text-align: left;
        justify-items: start; /* Deixando o texto da introdução no COMEÇO usando o start. */
    }
    
    .conteudo {
        grid-template-columns: 1fr;
    }
    
    .introducao::before {
        display: none; /* Fazendo a linha vermelha desaparecer */
    }

    .subtitulo {
        font-size: 3rem;
    }
}

@media (max-width: 400px) {
    .subtitulo {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}