@charset "UTF-8";

@media screen and (max-width: 786px) {
    body > main > section > article > div#supremo {
        margin: auto;
        width: 50%;
    }

    div.supremo1 {
        position: absolute;
        margin: auto;
        right: 50%;
        left: 50%;
        translate: (-50%, -50%);
    }

    body > main > section > article > div#supremo > div#retangulo {
        position: absolute;
        width: 285px;
        height: 520px;
        left: 24px;
        top: 74px;

        background: #FFFFFF;
        box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
        border-radius: 10px;
    }

    body > main > section > article > div#supremo > div#bitmap {
        position: absolute;
        width: 327px;
        height: 490px;
        left: 24px;
        top: 74px;

        background: url(../Imagens/Bitmap.png) no-repeat;
    }

    body > main > section > article > div#supremo > div#letras-grifadas {
        position: absolute;
        width: 263px;
        height: 72px;
        left: 40px;
        top: 360px;

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        letter-spacing: 0.2px;

        color: #48556A;
    }

    body > main > section > article > div#supremo > div#letras-normais {
        position: absolute;
        width: 263px;
        height: 100px;
        left: 40px;
        top: 440px;
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
    
        
        letter-spacing: 0.121875px;
        
        color: #6E8098;
        
    }

    body > main > section > article > div#supremo > div#ovo {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 50px;
        top: 540px;
    }

    body > main > section > article > div#supremo > div#nome-e-data > p#nome {
        position: absolute;
        height: 20px;
        left: 5px;
        top: 520px;

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;

        letter-spacing: 0.121875px;

        color: #48556A;
    }

    body > main > section > article > div#supremo > div#nome-e-data > p#data {
        position: absolute;
        width: 172px;
        height: 40px;
        left: 5px;
        top: 557px;
    }

    body > main > section > article > div#supremo > div#oval {
        position: absolute;
        width: 32px;
        height: 32px;
        left: 250px;
        top: 545px;

        background: #ECF2F8;
    }
    body > main > section > article > div#supremo > div#voltar {
        position: absolute;
        width: 15px;
        height: 12.97px;
        left: 260px;
        top: 550px;
    }
}
    