@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}
ul{
    list-style-type: none;
}
.card{
    width: 700px;
    border-radius: 12px;
    box-shadow: 0 15px 20px 10px rgba(37,43,70, 0.1);
}
.comunidade{
    padding: 40px;
    
}
h2{
    color: hsl(179, 62%, 43%);
    padding-bottom: 25px;
    opacity: 0.9;
}
.comunidade h3{
    font-weight: bold;
    color: hsl(71, 73%, 54%);
    padding-bottom: 16px;
    opacity: 0.9;
}
.comunidade p{
    color: hsl(218, 22%, 67%);
    line-height: 30px;
    opacity: 0.7;
}
.esquerda-flex{
    display: flex;
}
.esquerda{
    padding: 40px;
    background-color: hsl(179, 62%, 43%);
    color: #fff;
}
.esquerda h3{
    padding-bottom: 20px;
    opacity: 0.9;
}
.preco{
    display: inline-flex !important;
}
.preco-p{
    padding: 8px 0px 0px 12px;
    opacity: 0.5;
}
.acesso{
    padding: 10px 0px 20px 0px;
    opacity: 0.8;
}
button{
    padding: 15px;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    border: none;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}
.ue{
    opacity: 0.8;
    color: #fff;
    padding: 40px;
    background-color: hsl(179, 62%, 43%);
}
.ue h3{
    padding-bottom: 20px;
    opacity: 0.9 !important;
}
li{
    padding-bottom: 3px;
    font-size: 16px;
    opacity: 0.6;
}
@media (min-width:768px){
    .ue,.esquerda{
        width: 50%;
    }
}
@media (max-width:768px){
    .card{
        width: 90%;
        margin-top: 40px;
    }
    .esquerda-flex{
        display: flex;
        flex-direction: column;
    }
    .comunidade {
        padding-right: 20px;
    }
    .ue,.esquerda{
        width: 100%;
    }
}