@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0px;
}

div.item {
    background-color: #111;
    color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
}

span {
    color: #febe01;
}

p {
    color: #b2b2b2;
}

a {
    display: inline-block;
    background: #febe01;
    color: #332122;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}