@charset "UTF-8";

article {
    background: green;
    padding: 10px;
}

p {
    margin-bottom: 10px;
}

article p:last-child { /* Com isso eu posso remover a margin-bottom que sobrou do P de cima. */
    margin-bottom: 0px;
}

p + p {
    margin-bottom: 
}