@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');


:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Qwitcher Grypen', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}   

html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center; /* Alinhei todos os textos do header no centro */
}

header > h1 {
    font-family: var(--fonte2); 
    padding-top: 50px; /* Permitiu que eu movesse a borda pra cima para criar mais espaço */
    font-variant: small-caps; /* Também poderia usar o Text-Transform para deixar maiusculo, mas parecia muito "gritante" */
    font-size: 3em; /* Coloquei para ficar 3x o tamanho original */
    font-size: 10vw; /* Além de centralizar com a tela pequena ou grande, ele vai aumentar e diminuindo conforme mover a tela */
}

header > p {
    padding-bottom: 50px; /* Permite que eu deixe assimétrico pois no header > h1 eu deixei o padding-top com 50px */
}

header a, footer a {
    color: white;
    text-decoration: none; 
    font-weight: bolder; /* O link irá ficar em negrito */
}

Header a:hover, footer a:hover  {
    text-decoration: underline; /* Ao passar o mouse por cima, o link irá brilhar */
}

section {
    font-family: var(--fonte3);
    padding-top: 10vh; /* Vai ser 10% da altura da tela o padding top e o padding bottom */
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vh;
}

section > p {
    padding-bottom: 2em; /* Vai fazer com que eu dê um espaço entre o P do sextion que estava junto totalizando 14 linhas. */
}

section.normal { /* O ponto significa a classe */
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.492);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed; /* Efeito Parallax, ao descer a página, as imagens nas caixas irão descer junto. */
}

section#img01 {
    background-image: url(imagens/coringa\ 1.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/coringa4.jpg);
    background-position: right center;
}

section.imagem > p {
    display: inline-block; /* Vai transformar na caixa que se adapta ao conteúdo. */
    padding: 5px; /* Para não ficar colado. */
    background-color: rgba(0, 0, 0, 0.04);
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}