@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background:url(imagens/Freeza.png) no-repeat left center; /* Escolher a imagem, não deixa-la repetir, e o lado dela */
    background-size: cover; /* Para deixar a imagem maior no fundo. */
    background-attachment: fixed; /* Para não haver rolagem. */
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute; /* Permite usar top, left, right etc... */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Sempre que eu mover a tela após colocar top e left, ele sempre irá ficar no meio. */

    height: 627px; /*Height e width são o tamanho da imagem do iPhone, e para que fique certo coloquei ele aqui para encaixar.*/
    width: 311px;
    background: url(imagens/frame-iphone.png) no-repeat; /* Imagem do celular e que ela não irá se repetir. */
}

iframe#tela {
    position: relative;
    top: 81px;
    left: 22px;
    width: 267px;
    height: 471px;
    background-size: cover;
}

section#redes-sociais {
    text-align: right; /* Vai deixar os icones de redes sociais do lado direito */
}

section#redes-sociais > a > img {
    box-sizing: border-box; /* Ajuda no Hover, vai permitir que ao passar o cursos em cima, não mova todas as imagens e deixa a borda em cima apenas da imagem que o cursos ficar em cima. */
    width: 50px; /* Ao diminuir a largura para 50px, ele automaticamente irá diminuir a altura também! */
    margin: 10px;
    border-radius: 50%; /* Ao colocar 50 POR CENTO, ele irá deixar toda a imagem redonda */
    box-shadow: 1px 1px 3px black;
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(1px, 1px);
    box-shadow: 2px 2px 3px black;
    transition: transform 100ms, border 0.3s ; /* Vai permitir que eu dê um delay na animação da borda aparecer */
}